
$color-background: #fffcfc;
$color-primary: #e45b5b;
$color-section-background: lighten($color-primary, 35%);

$text-color-light: lighten($color-primary, 30%);
$text-color-link: desaturate(darken($color-primary, 10%), 20%);
$text-color-link-light: lighten($text-color-link, 10%);
$text-color-primary: #473737;
