@import 'colors';
@import 'code';
@import 'fonts';

html {
  background-color: $color-background;
  font-family: $font-serif;
}

* {
  box-sizing: border-box;

  // ask mobile browsers to please trust our judgement about font sizes
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#page-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

#page-content > section[role=main] {
  color: #312323;
  flex: 1;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 2.1em;
  padding: 0 30px;

  @media (min-width: 800px) {
    font-size: 1.2em;
    line-height: 2.1em;
  }

  & > .content {
    margin: 0 auto;
    padding: 40px 0;
    max-width: 850px;

    @media (max-width: 550px) {
      padding: 30px 0;
    }

    @media (min-width: 800px) {
      & > article {
        & > p, & > ul, & > ol, & > blockquote, .date-and-tags, .read-more, .footnotes {
          margin-left: 75px;
          margin-right: 75px;
        }

        h1:not(.title), h2, h3, h4, h5, h6 {
          margin-left: 40px;
          margin-right: 40px;
        }
      }
    }
  }

  p, blockquote {
    margin-bottom: 1.2em;

    @media (min-width: 800px) {
      margin-bottom: 2em;
    }
  }

  li {
    line-height: 1.8em;
  }

  a {
    color: $text-color-link;

    &:hover {
      color: $text-color-link-light;
      text-decoration: none;
    }
  }

  blockquote {
    margin-left: 0;
    margin-right: 0;
    padding: 1em 1.5em 1em 2em;
    border-left: 5px solid #f3ecec;
    background-color: $color-section-background;

    & > :first-child {
      margin-top: 0;
    }
    & > :last-child {
      margin-bottom: 0;
    }
  }

  hr {
    border: none;
    display: block;
    margin: 2em 0;
    width: 100%;

    @media (min-width: 800px) {
      margin: 4em 0;
    }

    &::before {
      content: '◆❖◆';
      color: #e2caca;
      display: block;
      margin: 0 auto;
      text-align: center;
      letter-spacing: 6em;
      margin-right: -6em;
      font-size: 0.9em;
    }
  }
}

// hide the blog title in the navbar on small screen sizes
@media (max-width: 550px) {
  #blog-title-header {
    display: none;
  }
}

#page-content > footer {
  background-color: $color-primary;
  color: $text-color-light;
  font-family: $font-sans-serif;
  text-align: center;

  & > .content {
    margin: 0 auto;
    padding: 10px 0;
    max-width: 940px;
  }

  a {
    color: inherit;
    font-weight: bold;
    text-decoration: underline;
  }

  h2, h3 {
    font-weight: 300;
    margin: 0.8em;
  }

  h2 {
    font-size: 1.1em;
  }

  h3 {
    font-size: 0.8em;
  }
}

article > header {
  .title {
    font-size: 2.3em;
    font-weight: 700;
    line-height: 1.4em;
    margin-bottom: 0.4em;

    @media (max-width: 550px) {
      font-size: 2em;
    }
  }

  .date-and-tags time {
    color: $text-color-primary;
    font-size: 1.5em;
  }

  .tags a {
    color: $text-color-link;
  }
}

article.inline {
  margin-bottom: 4em;

  .date-and-tags {
    margin-bottom: 20px;
  }

  .read-more-text {
    font-style: italic;
    padding-right: 0.25em;
  }
}

article.main > header {
  .title {
    margin-top: 0;
  }

  .date-and-tags {
    margin-bottom: 2em;
  }
}

.content h1 {
  font-size: 1.75em;
  line-height: 1.5em;
  margin-top: 2em;

  @media (min-width: 800px) {
    font-size: 2em;
  }
}

.footnotes {
  font-size: small;
  margin-top: 4em;
}

article.main > footer {
  margin-top: 40px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  transition: color 0.15s ease-in-out;

  &:hover {
    text-decoration: underline;
  }
}

.navigation-bar {
  align-items: center;
  background-color: $color-primary;
  display: flex;
  font-size: 1.2em;
  font-family: $font-sans-serif;
  font-weight: 300;
  width: 100%;

  a {
    color: $text-color-light;
    display: block;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;

    &:hover { color: white; }
  }

  h1 {
    margin: 5px 0;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: inherit;
  }

  .navigation-items {
    padding: 0;

    &.left, &.right { margin: 15px; }
    &.center        { flex: 1;      }

    li {
      display: inline-block;
      margin: 0 20px;
    }
  }
}

.pagination, .pager {
  display: flex;
  margin-top: 4em;
  padding: 0;

  li {
    flex: 1;
    list-style: none;
    text-align: center;
  }
}

.pagination li {
  a {
    display: block;
    transition: background-color 0.25s ease-in-out;
    width: 90%;
  }

  &.active a {
    cursor: default;
  }

  a:hover, &.active a {
    background-color: $color-primary;
    color: white !important;
  }
}

div.figure, article.main > p > a {
  & > img {
    max-width: 100%;
  }
}
