@import 'code';
@import 'variables';

html {
  background-color: $color-background;
  font-family: $font-serif;
}

* {
  box-sizing: border-box;

  // ask mobile browsers to please trust our judgement about font sizes
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

// -----------------------------------------------------------------------------
// Headings

h1, h2, h3, h4, h5, h6 {
  font-family: $font-sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  line-height: 1.4em;
  margin-bottom: 0.4em;

  @media (min-width: 575px) {
    font-size: 2.3em;
    line-height: 1.4em;
  }
}

h2 {
  font-size: 1.75em;
  line-height: 1.5em;
  margin-top: 2em;

  @media (min-width: 800px) {
    font-size: 2em;
  }
}

h3 {
  font-size: 1.5em;
  line-height: 1em;
}

h4 {
  font-size: 1.17em;
  line-height: 1em;
}

// -----------------------------------------------------------------------------

a {
  text-decoration: none;
  transition: color 0.15s ease-in-out;
}

p, article li, blockquote {
  margin-bottom: 1.2em;

  @media (min-width: 800px) {
    margin-bottom: 2em;
  }
}

body > section[role=main] {
  $content-padding: 30px;

  color: $text-color-primary;
  flex: 1;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 2em;
  padding: 0 $content-padding;

  @media (max-width: 550px) {
    font-size: 0.9em;
    line-height: 2em;
  }

  & > .content {
    margin: 0 auto;
    padding: 40px 0;

    @media (max-width: 550px) {
      padding: 30px 0;
    }
  }

  article {
    // When there is enough space, elements in the body are centered horizontally.
    & > * {
      margin-left: auto;
      margin-right: auto;
      max-width: $content-width-small;
    }

    // Headings can spill into the margins a little bit.
    & > h1, & > h2, & > h3, & > h4, & > h5, & > h6 {
      max-width: $content-width-medium;
    }

    // Post headers can spill into the margins a lot.
    & > header {
      max-width: $content-width-large;

      .date-and-tags {
        max-width: $content-width-small;
        margin-left: auto;
        margin-right: auto;
      }
    }

    // Code blocks and tables can also spill into the margins.
    & > pre, & > .table-wrapper {
      max-width: 100%;
      width: 100%;

      // On medium-size screens, they can spill into the margins a bit.
      @media (min-width: $content-width-small + $content-padding * 2) {
        min-width: $content-width-small;
        width: fit-content;
      }

      // On large screens they can spill into the margins a ton, since we really
      // don’t want them to have to scroll.
      @media (min-width: $content-width-max + $content-padding * 2) {
        max-width: $content-width-max;
      }
    }

    // End-of-post navigation links can spill far into the margins.
    & > .post-navigation {
      max-width: $content-width-max;
    }
  }

  // Subscripts and superscripts should not disrupt line spacing.
  sup, sub {
    line-height: 0;
  }

  a {
    color: $text-color-link;

    &:hover {
      color: $text-color-link-light;
    }
  }

  blockquote {
    padding: 1em 1.5em 1em 2em;
    border-left: 5px solid #f3ecec;
    background-color: $color-section-background;

    & > :first-child { margin-top: 0; }
    & > :last-child { margin-bottom: 0; }
  }

  .table-wrapper {
    display: block;
    margin: 1em auto;
    overflow: auto;

    // enable inertial horizontal scrolling
    -webkit-overflow-scrolling: touch;

    @media (max-width: 700px) {
      font-size: 0.9em;
      line-height: 1.9em;
    }

    @media (max-width: 500px) {
      font-size: 0.8em;
      line-height: 1.8em;
    }

    @media (min-width: 800px) {
      margin: 2em auto;
    }

    table {
      border-collapse: collapse;
      border-spacing: 0;
      border: 3px solid $color-section-background-border;
      width: 100%;

      thead tr, tr:nth-child(2n) {
        background-color: $color-section-background-border;
      }

      td, th {
        border: 0;
        padding: 0.6em 1.5em;
      }
    }
  }

  hr {
    border: none;
    display: block;
    margin-bottom: 2em;
    margin-top: 2em;
    overflow-x: hidden;
    width: 100%;

    @media (min-width: 800px) {
      margin-bottom: 3em;
      margin-top: 3em;
    }

    &::before {
      content: '◆◆◆';
      color: #e2caca;
      display: block;
      margin: 0 auto;
      text-align: center;
      letter-spacing: 6em;
      margin-right: -6em;
      font-size: 0.9em;
    }
  }
}

.date-and-tags time {
  font-size: 1.5em;
}

body > footer {
  background-color: $color-primary;
  color: $text-color-light;
  font-family: $font-sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  padding: 10px 0;
  text-align: center;

  .copyright-notice {
    font-size: 1.45em;
  }

  a {
    color: inherit;
    font-weight: bold;
    text-decoration: underline;
  }

  & > * {
    margin: 0.8em;
  }
}

article.main {
  .title {
    margin-top: 0;
  }

  .date-and-tags {
    margin-bottom: 2em;
  }
}

article.inline {
  margin-bottom: 4em;

  .date-and-tags {
    margin-bottom: 1em;
  }

  .read-more-text {
    font-style: italic;
    margin-right: 0.25em;
  }
}

.footnotes {
  font-size: small;
  line-height: 2em;
  margin-top: 4em;
}

article.main > footer {
  margin-top: 40px;
}

.tag-page-header {
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  max-width: 1000px;
}

.navigation-bar {
  align-items: center;
  background-color: $color-primary;
  display: flex;
  font-size: 1.2em;
  font-family: $font-sans-serif;
  font-weight: 300;
  width: 100%;

  a {
    color: $text-color-light;
    display: block;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;

    &:hover { color: white; }
  }

  .blog-title-header {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 1.5em;
    font-weight: inherit;

    a {
      letter-spacing: 0.075em;
    }

    // hide the blog title in the navbar on small screen sizes
    @media (max-width: 575px) {
      display: none;
    }
  }
}

.navigation-items {
  padding: 0;

  &.left, &.right { margin: 15px; }
  &.center        { flex: 1;      }

  li {
    display: inline-block;
    margin: 0 20px;
  }
}

.pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 4em;
  padding: 0;
  width: 100%;

  li {
    flex: 1;
    list-style: none;
    margin: 0 8px;
    max-width: 3em;
    min-width: 3em;
    text-align: center;

    @media (min-width: 450px) {
      margin: 0 15px;
    }

    &.disabled {
      color: $color-disabled;
    }

    &.pagination-number {
      border: 1px solid $color-primary;
      max-width: 5em;
    }
  }

  a {
    display: block;
    transition: background-color 0.25s ease-in-out;
    width: 100%;
  }

  li.active a, li.disabled {
    cursor: default;
  }

  a:hover, li.active a {
    background-color: $color-primary;
    color: white !important;
  }
}

.post-navigation {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4em;
  padding: 0;

  li {
    flex: 1 1 auto;
    list-style: none;
    margin-bottom: 1em;
  }

  .previous {
    text-align: left;
  }
  .next {
    text-align: right;
  }

  .post-title {
    font-style: italic;
  }
}

div.figure, article.main > p > a {
  & > img {
    max-width: 100%;
  }
}

.no-line-wrapping {
  white-space: nowrap;
}

// -----------------------------------------------------------------------------
// styles for the About Me page

.about-me-year-events {
  margin-bottom: 0.35em;
  margin-top: 0em;
  padding-left: 1.2em;
  text-indent: -1.2em;
}

.about-me-year-label {
  font-weight: bold;
  font-size: 1.1em;
}

.about-me-year-separator {
  margin: 0.25em;
}
