$semibold: 600;

$string: #BA2121;

td.code .source, .source pre {
  .c, .cm, .c1 { color: #9e5555; font-weight: 300; } /* Comment */
  .err { border: 1px solid #FF0000 }                 /* Error */
  .k { color: #19177C; font-weight: $semibold }      /* Keyword */
  .o { color: #666666 }                              /* Operator */
  .cp { color: #BC7A00 }                             /* Comment.Preproc */
  .cs { color: #408080; font-style: italic }         /* Comment.Special */
  .gd { color: #A00000 }                             /* Generic.Deleted */
  .ge { font-style: italic }                         /* Generic.Emph */
  .gr { color: #FF0000 }                             /* Generic.Error */
  .gh { color: #000080; font-weight: bold }          /* Generic.Heading */
  .gi { color: #00A000 }                             /* Generic.Inserted */
  .go { color: #808080 }                             /* Generic.Output */
  .gp { color: #000080; font-weight: bold }          /* Generic.Prompt */
  .gs { font-weight: bold }                          /* Generic.Strong */
  .gu { color: #800080; font-weight: bold }          /* Generic.Subheading */
  .gt { color: #0040D0 }                             /* Generic.Traceback */
  .kc { color: #008000; font-weight: bold }          /* Keyword.Constant */
  .kd { color: $string; font-weight: $semibold }     /* Keyword.Declaration */
  .kn { color: $string; font-weight: bold }          /* Keyword.Namespace */
  .kp { color: #008000 }                             /* Keyword.Pseudo */
  .kr { color: #A10327; font-weight: bold }          /* Keyword.Reserved */
  .kt { color: #B00040 }                             /* Keyword.Type */
  .m { color: #666666 }                              /* Literal.Number */
  .s { color: $string }                              /* Literal.String */
  .na { color: #960037 }                             /* Name.Attribute */
  .nb { color: #960037; font-weight: $semibold; }    /* Name.Builtin */
  .nc { color: #0000FF; font-weight: bold }          /* Name.Class */
  .no { color: #880000 }                             /* Name.Constant */
  .nd { color: #AA22FF }                             /* Name.Decorator */
  .ni { color: #999999; font-weight: bold }          /* Name.Entity */
  .ne { color: #D2413A; font-weight: bold }          /* Name.Exception */
  .nf { color: #960037 }                             /* Name.Function */
  .nl { color: #A0A000 }                             /* Name.Label */
  .nn { color: $string; font-weight: bold }          /* Name.Namespace */
  .nt { color: #008000; font-weight: bold }          /* Name.Tag */
  .nv { color: #1c7805 }                             /* Name.Variable */
  .ow { color: #666666; font-weight: bold }          /* Operator.Word */
  .w { color: #bbbbbb }                              /* Text.Whitespace */
  .mf { color: #666666 }                             /* Literal.Number.Float */
  .mh { color: #666666 }                             /* Literal.Number.Hex */
  .mi { color: #666666 }                             /* Literal.Number.Integer */
  .mo { color: #666666 }                             /* Literal.Number.Oct */
  .sb { color: $string }                             /* Literal.String.Backtick */
  .sc { color: $string }                             /* Literal.String.Char */
  .sd { color: $string; font-style: italic }         /* Literal.String.Doc */
  .s2 { color: $string }                             /* Literal.String.Double */
  .se { color: #BB6622; font-weight: bold }          /* Literal.String.Escape */
  .sh { color: $string }                             /* Literal.String.Heredoc */
  .si { color: $string; font-weight: $semibold }     /* Literal.String.Interpol */
  .sx { color: #008000 }                             /* Literal.String.Other */
  .sr { color: #BB6688 }                             /* Literal.String.Regex */
  .s1 { color: $string }                             /* Literal.String.Single */
  .ss { color: #19177C }                             /* Literal.String.Symbol */
  .bp { color: #008000 }                             /* Name.Builtin.Pseudo */
  .vc { color: #19177C }                             /* Name.Variable.Class */
  .vg { color: #19177C }                             /* Name.Variable.Global */
  .vi { color: #19177C }                             /* Name.Variable.Instance */
  .il { color: #666666 }                             /* Literal.Number.Integer.Long */
}
